
body{
    background-image: url("https://t4.ftcdn.net/jpg/02/43/75/73/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg");
}

.logo-thumbnail{
    width: 175px;
    height: 110px;
    
}


  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  


  .texttheme{
    text-shadow: 0 0 3px yellow, 0 0 5px yellow;
    color: white;
  }

.table{
  color: white;
  border-bottom: white;
  font-size: 20px;
}
a{
  text-decoration: none !important;
}

.pointer {cursor: pointer;}

.testred{
  color:red;
  -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: red;
}
