
body{
    background-image: url("https://t4.ftcdn.net/jpg/02/43/75/73/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg");
}

.logo-thumbnail{
    width: 175px;
    height: 110px;
    
}


.cards-list {
    z-index: 0;
    width: 100%;
  }
  
  .card {
    width: 150px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: -80px;
    height: 20px;
    text-wrap: wrap;
    /* text-shadow: 0 0 3px yellow, 0 0 5px yellow; */
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  


  .texttheme{
    text-shadow: 0 0 3px yellow, 0 0 5px yellow;
    color: white;
  }

.table{
  color: white;
  border-bottom: white;
  font-size: 20px;
}
a{
  text-decoration: none !important;
}